20251130_WFC_WEB_SCRAPING/[COMPLETED] Trip Advisor.json
{
  "name": "[COMPLETED] Trip Advisor",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -800,
        -416
      ],
      "id": "93c89849-8e2e-4bd9-a663-8f70299a80b8",
      "name": "When chat message received",
      "webhookId": "719c1e7e-f8e0-4eb9-bb96-9461d4de20a1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1YUQ3SH4rKdVzzyz_yRnJqdB0WvjcHnvjH-XmLE6iAI0",
          "mode": "list",
          "cachedResultName": "Trip Advisor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YUQ3SH4rKdVzzyz_yRnJqdB0WvjcHnvjH-XmLE6iAI0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YUQ3SH4rKdVzzyz_yRnJqdB0WvjcHnvjH-XmLE6iAI0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Type": "={{ $json.type }}",
            "Category": "={{ $json.category }}",
            "Name": "={{ $json.name }}",
            "Address": "={{ $json.address }}",
            "Rating": "={{ $json.rating }}",
            "Email": "={{ $json.email }}",
            "Phone Number": "='{{ $json.phone }}",
            "Price Range": "={{ $json.priceRange }}",
            "No. of Reviews": "={{ $json.numberOfReviews }}",
            "Website": "={{ $json.website }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "No. of Reviews",
              "displayName": "No. of Reviews",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price Range",
              "displayName": "Price Range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        -416
      ],
      "id": "da2fa1c6-5875-4c0a-8d54-06d39fd411d4",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KWE2h3ZpxTfcjA9c",
          "name": "Arpan's Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "content": "### Give a city name as input\n",
        "height": 272,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -912,
        -512
      ],
      "typeVersion": 1,
      "id": "539a76fc-59a0-4fa6-8b5f-f6d31e16a09e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Pass the city to the actor",
        "height": 272,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        -512
      ],
      "typeVersion": 1,
      "id": "de036e6b-c640-4257-b7e1-926df035d22a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Store the data\n",
        "height": 272,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -512
      ],
      "typeVersion": 1,
      "id": "34ff9fd8-b95a-48fc-9776-a17c45642101",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "dbEyMBriog95Fv8CW",
          "mode": "list",
          "cachedResultName": "Tripadvisor Scraper (maxcopell/tripadvisor)",
          "cachedResultUrl": "https://console.apify.com/actors/dbEyMBriog95Fv8CW/input"
        },
        "customBody": "={\n    \"currency\": \"INR\",\n    \"includeAiReviewsSummary\": false,\n    \"includeAttractions\": true,\n    \"includeHotels\": true,\n    \"includeNearbyResults\": false,\n    \"includePriceOffers\": false,\n    \"includeRestaurants\": true,\n    \"includeTags\": true,\n    \"includeVacationRentals\": false,\n    \"language\": \"en\",\n    \"maxItemsPerQuery\": 10,\n    \"query\": \"{{ $json.chatInput }}\"\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -480,
        -416
      ],
      "id": "2bb589e8-9062-4ba7-9643-a07945b99981",
      "name": "TripAdvisor Scraper",
      "credentials": {
        "apifyApi": {
          "id": "mmIoZGIjIHp24dKy",
          "name": "AS Apify account"
        }
      }
    }
  ],
  "pinData": {
    "TripAdvisor Scraper": [
      {
        "json": {
          "reviewTags": [],
          "id": "27493936",
          "type": "RESTAURANT",
          "category": "restaurant",
          "subcategories": [
            "Sit down"
          ],
          "name": "Kari Theory",
          "locationString": "Bengaluru, Bangalore District, Karnataka",
          "description": "KARI THEORY- is a Resto-Bar serving Traditional South Indian Street Food with modern cooking & presenting techniques paired with the Finest Drinks & Blends, which will take your gastronomical journey to the destinations where you have not been before and delight you with every element of it.",
          "image": "https://media-cdn.tripadvisor.com/media/photo-m/1280/2b/ad/87/d1/nethili-fry.jpg",
          "photoCount": 115,
          "rankingPosition": 8,
          "rating": 4.9,
          "rawRanking": 4.864498138427734,
          "phone": "+91 80 2558 8550",
          "address": "No. 2, Gangadhar Chetty Road, Sivanchetty Layout Ulsoor, Bengaluru 560042 India",
          "addressObj": {
            "street1": "No. 2, Gangadhar Chetty Road, Sivanchetty Layout",
            "street2": "Ulsoor",
            "city": "Bengaluru",
            "state": "Karnataka",
            "country": "India",
            "postalcode": "560042"
          },
          "localName": "Kari Theory",
          "localAddress": "No. 2, Gangadhar Chetty Road, Sivanchetty Layout, Ulsoor, 560042",
          "localLangCode": "en-IN",
          "email": "adithya@rdbcc.com",
          "latitude": 12.976218,
          "longitude": 77.61949,
          "webUrl": "https://www.tripadvisor.com/Restaurant_Review-g297628-d27493936-Reviews-Kari_Theory-Bengaluru_Bangalore_District_Karnataka.html",
          "website": null,
          "rankingString": "#8 of 10,588 places to eat in Bengaluru",
          "rankingDenominator": "4152",
          "rankingSource": "API",
          "neighborhoodLocations": [],
          "nearestMetroStations": [
            {
              "name": "Trinity",
              "localName": "Trinity",
              "address": "Mahatma Gandhi Road, Bengaluru 560025, India",
              "localAddress": "Mahatma Gandhi Road, 560025",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.972954750061035,
              "longitude": 77.61699676513672,
              "distance": 0.28148665828318675
            },
            {
              "name": "Halasuru",
              "localName": "Halasuru",
              "address": "Mahatma Gandhi Road, Bengaluru 560008, India",
              "localAddress": "Mahatma Gandhi Road, 560008",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.97641658782959,
              "longitude": 77.62667083740234,
              "distance": 0.484104755788755
            },
            {
              "name": "Mahatma Gandhi Road",
              "localName": "Mahatma Gandhi Road",
              "address": "MG Road, Bengaluru 560001, India",
              "localAddress": "MG Road, 560001",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.975634574890137,
              "longitude": 77.60661315917969,
              "distance": 0.8689954714993249
            },
            {
              "name": "Vidhana Soudha",
              "localName": "Vidhana Soudha",
              "address": "Mahatma Gandhi Road, Bengaluru 560001, India",
              "localAddress": "Mahatma Gandhi Road, 560001",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.97558879852295,
              "longitude": 77.60657501220703,
              "distance": 0.871716448543554
            }
          ],
          "ancestorLocations": [
            {
              "id": "297628",
              "name": "Bengaluru",
              "abbreviation": null,
              "subcategory": "City"
            },
            {
              "id": "12392950",
              "name": "Bangalore District",
              "abbreviation": null,
              "subcategory": "District"
            },
            {
              "id": "297627",
              "name": "Karnataka",
              "abbreviation": null,
              "subcategory": "State"
            },
            {
              "id": "293860",
              "name": "India",
              "abbreviation": null,
              "subcategory": "Country"
            }
          ],
          "ratingHistogram": {
            "count1": 0,
            "count2": 0,
            "count3": 4,
            "count4": 21,
            "count5": 243
          },
          "numberOfReviews": 268,
          "isClosed": false,
          "isLongClosed": false,
          "openNowText": "Open Now",
          "priceLevel": "$$$$",
          "dishes": [
            "Chicken dishes",
            "Dosa",
            "Sandesh"
          ],
          "hours": {
            "weekRanges": [
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ]
            ],
            "timezone": "Asia/Kolkata"
          },
          "menuWebUrl": null,
          "ownersTopReasons": null,
          "isNearbyResult": false,
          "photos": [
            "https://media-cdn.tripadvisor.com/media/photo-o/2b/ad/87/d1/nethili-fry.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/2b/ad/87/d0/kumbakonam-kapi-daiquiri.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/2b/ad/84/7d/kari-theory-is-a-resto.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/31/5d/30/1c/caption.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/31/5d/30/1b/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/30/6f/61/84/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/5d/30/17/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/5d/30/18/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/5d/30/19/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/5d/30/1a/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/5d/30/1b/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/5d/30/1c/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/1f/ab/be/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/1f/ab/bf/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/1f/ab/c0/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/1f/ab/c2/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/1f/ab/c3/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/1f/ab/c4/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/5a/07/36/caption.jpg"
          ],
          "travelerChoiceAward": null,
          "cuisines": [
            "Indian",
            "Street Food"
          ],
          "dietaryRestrictions": [
            "Vegetarian friendly",
            "Vegan options",
            "Gluten free options"
          ],
          "establishmentTypes": [
            "Restaurants"
          ],
          "features": [
            "Delivery",
            "Takeout",
            "Reservations",
            "Buffet",
            "Private Dining",
            "Seating",
            "Parking Available",
            "Validated Parking",
            "Valet Parking",
            "Free off-street parking",
            "Highchairs Available",
            "Wheelchair Accessible",
            "Serves Alcohol",
            "Full Bar",
            "Wine and Beer",
            "American Express",
            "Mastercard",
            "Visa",
            "Digital Payments",
            "Accepts Credit Cards",
            "Table Service",
            "Live Music",
            "Family style"
          ],
          "mealTypes": [
            "Breakfast",
            "Lunch",
            "Dinner",
            "Drinks"
          ],
          "isClaimedIcon": false,
          "isClaimedText": null,
          "orderOnline": [],
          "input": "Bengaluru"
        }
      },
      {
        "json": {
          "reviewTags": [],
          "id": "32842762",
          "type": "RESTAURANT",
          "category": "restaurant",
          "subcategories": [
            "Sit down"
          ],
          "name": "Zarf - The Indian Kitchen",
          "locationString": "Bengaluru, Bangalore District, Karnataka",
          "description": "Embark on a culinary voyage where each dish tells a story that resonates with depth and its complex yet seamless art of cooking. In a world where flavors become narratives and ingredients transform into characters, our restaurant invites you to experience gastronomic alchemy—a symphony of tastes that goes beyond the surface, delving into the profound depths of culinary mastery. Our chefs, akin to skilled craftsmen, prepare each dish with an understanding that surpasses the ordinary. It's not just about flavors; it's about the intricate dance of spices, the nuanced layering of textures and the harmonious balance of contrasting elements that elevate each bite to a sensorial masterpiece. Our commitment to culinary depth extends beyond the plate; it is a connection to culture and tradition. Each dish is a bridge to India’s heritage, an invitation to explore the roots of a cuisine that has evolved through time, carrying with it the stories of generations.",
          "image": "https://media-cdn.tripadvisor.com/media/photo-m/1280/2e/95/e6/8d/zarf-interior.jpg",
          "photoCount": 69,
          "rankingPosition": 5,
          "rating": 5,
          "rawRanking": 4.876897811889648,
          "phone": "+91 89040 52101",
          "address": "Sheraton Grand Bengaluru Whitefield Hotel And Convention Center Hoodi, Thigalarapalya, Whitefield, Bengaluru 560048 India",
          "addressObj": {
            "street1": "Sheraton Grand Bengaluru Whitefield Hotel And Convention Center",
            "street2": "Hoodi, Thigalarapalya, Whitefield",
            "city": "Bengaluru",
            "state": "Karnataka",
            "country": "India",
            "postalcode": "560048"
          },
          "localName": "Zarf - The Indian Kitchen",
          "localAddress": "Sheraton Grand Bengaluru Whitefield Hotel And Convention Center, Hoodi, Thigalarapalya, Whitefield, 560048",
          "localLangCode": "en-IN",
          "email": "marcomsw.bangalore@gmail.com",
          "latitude": 9.984388,
          "longitude": 76.56384,
          "webUrl": "https://www.tripadvisor.com/Restaurant_Review-g297628-d32842762-Reviews-Zarf_The_Indian_Kitchen-Bengaluru_Bangalore_District_Karnataka.html",
          "website": "https://www.marriott.com/en-us/hotels/blrsw-sheraton-grand-bengaluru-whitefield-hotel-and-convention-center/overview/",
          "rankingString": "#5 of 10,588 places to eat in Bengaluru",
          "rankingDenominator": "4152",
          "rankingSource": "API",
          "neighborhoodLocations": [],
          "nearestMetroStations": [],
          "ancestorLocations": [
            {
              "id": "297628",
              "name": "Bengaluru",
              "abbreviation": null,
              "subcategory": "City"
            },
            {
              "id": "12392950",
              "name": "Bangalore District",
              "abbreviation": null,
              "subcategory": "District"
            },
            {
              "id": "297627",
              "name": "Karnataka",
              "abbreviation": null,
              "subcategory": "State"
            },
            {
              "id": "293860",
              "name": "India",
              "abbreviation": null,
              "subcategory": "Country"
            }
          ],
          "ratingHistogram": {
            "count1": 0,
            "count2": 0,
            "count3": 0,
            "count4": 5,
            "count5": 140
          },
          "numberOfReviews": 145,
          "isClosed": false,
          "isLongClosed": false,
          "openNowText": "Opens in 12 min",
          "priceLevel": "$$$$",
          "dishes": [
            "Desserts"
          ],
          "hours": {
            "weekRanges": [
              [
                {
                  "open": 750,
                  "openHours": "12:30",
                  "close": 900,
                  "closeHours": "15:00"
                },
                {
                  "open": 1140,
                  "openHours": "19:00",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 1140,
                  "openHours": "19:00",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 1140,
                  "openHours": "19:00",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 1140,
                  "openHours": "19:00",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 1140,
                  "openHours": "19:00",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 1140,
                  "openHours": "19:00",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ],
              [
                {
                  "open": 750,
                  "openHours": "12:30",
                  "close": 900,
                  "closeHours": "15:00"
                },
                {
                  "open": 1140,
                  "openHours": "19:00",
                  "close": 1380,
                  "closeHours": "23:00"
                }
              ]
            ],
            "timezone": "Asia/Kolkata"
          },
          "menuWebUrl": null,
          "ownersTopReasons": null,
          "isNearbyResult": false,
          "photos": [
            "https://media-cdn.tripadvisor.com/media/photo-o/2e/95/e6/8d/zarf-interior.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/2e/95/eb/0f/interior.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/2e/95/e4/6b/zarf-logo.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/2f/f8/b7/2c/drinks.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/2f/f8/b6/c0/interior.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/30/81/24/50/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/30/81/24/51/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/30/90/bf/63/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/30/90/bf/62/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/30/90/bf/61/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/30/90/bf/60/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/77/d6/23/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/77/d6/24/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/77/d6/25/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/77/d6/26/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/77/d6/27/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/77/d6/28/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/2f/97/80/caption.jpg"
          ],
          "travelerChoiceAward": null,
          "cuisines": [
            "Indian"
          ],
          "dietaryRestrictions": [
            "Vegetarian friendly",
            "Vegan options"
          ],
          "establishmentTypes": [
            "Restaurants"
          ],
          "features": [
            "Delivery",
            "Takeout",
            "Reservations",
            "Seating",
            "Parking Available",
            "Validated Parking",
            "Valet Parking",
            "Free off-street parking",
            "Highchairs Available",
            "Wheelchair Accessible",
            "Serves Alcohol",
            "Full Bar",
            "Wine and Beer",
            "American Express",
            "Mastercard",
            "Visa",
            "Digital Payments",
            "Cash Only",
            "Discover",
            "Accepts Credit Cards",
            "Table Service",
            "Family style",
            "Non-smoking restaurants"
          ],
          "mealTypes": [
            "Dinner"
          ],
          "isClaimedIcon": false,
          "isClaimedText": null,
          "orderOnline": [],
          "input": "Bengaluru"
        }
      },
      {
        "json": {
          "id": "1568903",
          "type": "RESTAURANT",
          "category": "restaurant",
          "subcategories": [
            "Sit down"
          ],
          "name": "Karavalli @ Taj",
          "locationString": "Bengaluru, Bangalore District, Karnataka",
          "description": "Karavalli an iconic restaurant located at Vivanta Bengaluru Residency Road. Since inception in 1990, Karavalli has grown to be an institution when it comes to South west coast flavours. Modelled on a traditional Mangalorean bungalow, and surrounded by lush tamarind trees, the restaurant is inspired by the architecture of coastal South India. Ingredients from the coast, such as cloves, cinnamon, pepper, home grown chillies and only the freshest vegetables and finest meats make it to the menu. The chef and team have painstakingly preserved India’s most refined culinary traditions from our rich heritage by restoring age old recipes, decades of researching meeting with locals and recreating forgotten flavours of a glorious bygone era.",
          "image": "https://media-cdn.tripadvisor.com/media/photo-m/1280/1b/2d/2f/94/karavalli-garden.jpg",
          "photoCount": 762,
          "rankingPosition": 9,
          "rating": 4.8,
          "rawRanking": 4.856713771820068,
          "phone": "+91 80666 04519",
          "address": "66 Residency Rd The Gateway Hotel, Bengaluru 560025 India",
          "addressObj": {
            "street1": "66 Residency Rd",
            "street2": "The Gateway Hotel",
            "city": "Bengaluru",
            "state": "Karnataka",
            "country": "India",
            "postalcode": "560025"
          },
          "localName": "Karavalli @ Taj",
          "localAddress": "66 Residency Rd, The Gateway Hotel, 560025",
          "localLangCode": "en-IN",
          "email": "suresh.khanna@tajhotels.com",
          "latitude": 12.972159,
          "longitude": 77.60883,
          "webUrl": "https://www.tripadvisor.com/Restaurant_Review-g297628-d1568903-Reviews-Karavalli_Taj-Bengaluru_Bangalore_District_Karnataka.html",
          "website": "https://www.vivantahotels.com/en-in/vivanta-bengaluru-residency-road/restaurants/karavalli",
          "rankingString": "#9 of 10,588 places to eat in Bengaluru",
          "rankingDenominator": "4152",
          "rankingSource": "API",
          "neighborhoodLocations": [
            {
              "id": "13087490",
              "name": "MG Road"
            },
            {
              "id": "20484099",
              "name": "Richmond Town"
            }
          ],
          "nearestMetroStations": [
            {
              "name": "Vidhana Soudha",
              "localName": "Vidhana Soudha",
              "address": "Mahatma Gandhi Road, Bengaluru 560001, India",
              "localAddress": "Mahatma Gandhi Road, 560001",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.97558879852295,
              "longitude": 77.60657501220703,
              "distance": 0.28185308680882304
            },
            {
              "name": "Mahatma Gandhi Road",
              "localName": "Mahatma Gandhi Road",
              "address": "MG Road, Bengaluru 560001, India",
              "localAddress": "MG Road, 560001",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.975634574890137,
              "longitude": 77.60661315917969,
              "distance": 0.28315579848004074
            },
            {
              "name": "Trinity",
              "localName": "Trinity",
              "address": "Mahatma Gandhi Road, Bengaluru 560025, India",
              "localAddress": "Mahatma Gandhi Road, 560025",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.972954750061035,
              "longitude": 77.61699676513672,
              "distance": 0.5530004193426142
            }
          ],
          "ancestorLocations": [
            {
              "id": "297628",
              "name": "Bengaluru",
              "abbreviation": null,
              "subcategory": "City"
            },
            {
              "id": "12392950",
              "name": "Bangalore District",
              "abbreviation": null,
              "subcategory": "District"
            },
            {
              "id": "297627",
              "name": "Karnataka",
              "abbreviation": null,
              "subcategory": "State"
            },
            {
              "id": "293860",
              "name": "India",
              "abbreviation": null,
              "subcategory": "Country"
            }
          ],
          "ratingHistogram": {
            "count1": 15,
            "count2": 20,
            "count3": 62,
            "count4": 325,
            "count5": 2161
          },
          "numberOfReviews": 2583,
          "isClosed": false,
          "isLongClosed": false,
          "openNowText": "Open Now",
          "priceLevel": "$$$$",
          "dishes": [
            "Crab",
            "Lobster",
            "Crawfish",
            "Curry",
            "Prawns",
            "Stews",
            "Fish",
            "Chicken dishes",
            "Rice dishes",
            "Fish Curry",
            "Thali",
            "Payasam",
            "Mango dishes",
            "Tiger Prawns",
            "Dosa",
            "Mixed Seafood",
            "Paratha",
            "Butter Chicken",
            "Chicken Curry",
            "Fish Fry",
            "Desserts",
            "Chicken Biryani",
            "Jumbo Shrimp",
            "Rasam",
            "Mutton",
            "Biryani",
            "Cake",
            "Vegetable Curry",
            "Parantha",
            "Sandesh"
          ],
          "hours": {
            "weekRanges": [
              [
                {
                  "open": 750,
                  "openHours": "12:30",
                  "close": 900,
                  "closeHours": "15:00"
                },
                {
                  "open": 1080,
                  "openHours": "18:00",
                  "close": 1410,
                  "closeHours": "23:30"
                }
              ],
              [
                {
                  "open": 750,
                  "openHours": "12:30",
                  "close": 900,
                  "closeHours": "15:00"
                },
                {
                  "open": 1080,
                  "openHours": "18:00",
                  "close": 1410,
                  "closeHours": "23:30"
                }
              ],
              [
                {
                  "open": 750,
                  "openHours": "12:30",
                  "close": 900,
                  "closeHours": "15:00"
                },
                {
                  "open": 1080,
                  "openHours": "18:00",
                  "close": 1410,
                  "closeHours": "23:30"
                }
              ],
              [
                {
                  "open": 750,
                  "openHours": "12:30",
                  "close": 900,
                  "closeHours": "15:00"
                },
                {
                  "open": 1080,
                  "openHours": "18:00",
                  "close": 1410,
                  "closeHours": "23:30"
                }
              ],
              [
                {
                  "open": 750,
                  "openHours": "12:30",
                  "close": 900,
                  "closeHours": "15:00"
                },
                {
                  "open": 1080,
                  "openHours": "18:00",
                  "close": 1410,
                  "closeHours": "23:30"
                }
              ],
              [
                {
                  "open": 750,
                  "openHours": "12:30",
                  "close": 900,
                  "closeHours": "15:00"
                },
                {
                  "open": 1080,
                  "openHours": "18:00",
                  "close": 1410,
                  "closeHours": "23:30"
                }
              ],
              [
                {
                  "open": 750,
                  "openHours": "12:30",
                  "close": 900,
                  "closeHours": "15:00"
                },
                {
                  "open": 1080,
                  "openHours": "18:00",
                  "close": 1410,
                  "closeHours": "23:30"
                }
              ]
            ],
            "timezone": "Asia/Kolkata"
          },
          "menuWebUrl": null,
          "ownersTopReasons": null,
          "isNearbyResult": false,
          "reviewTags": [
            {
              "text": "seafood",
              "reviews": 222
            },
            {
              "text": "appam",
              "reviews": 246
            },
            {
              "text": "mango curry",
              "reviews": 31
            },
            {
              "text": "stew",
              "reviews": 44
            },
            {
              "text": "tiger prawns",
              "reviews": 25
            },
            {
              "text": "crab",
              "reviews": 28
            },
            {
              "text": "thali",
              "reviews": 71
            },
            {
              "text": "kerala food",
              "reviews": 22
            },
            {
              "text": "cake",
              "reviews": 59
            },
            {
              "text": "curries",
              "reviews": 23
            },
            {
              "text": "chicken",
              "reviews": 36
            },
            {
              "text": "coastal food",
              "reviews": 109
            },
            {
              "text": "mr anthony",
              "reviews": 47
            },
            {
              "text": "birthday lunch",
              "reviews": 28
            },
            {
              "text": "residency road",
              "reviews": 47
            },
            {
              "text": "amazing food",
              "reviews": 80
            },
            {
              "text": "special mention",
              "reviews": 49
            },
            {
              "text": "banana leaf",
              "reviews": 33
            },
            {
              "text": "outdoor seating",
              "reviews": 39
            },
            {
              "text": "special thanks",
              "reviews": 50
            },
            {
              "text": "memorable experience",
              "reviews": 22
            },
            {
              "text": "great ambience",
              "reviews": 65
            },
            {
              "text": "south indian",
              "reviews": 23
            },
            {
              "text": "must visit place",
              "reviews": 26
            },
            {
              "text": "mouth watering",
              "reviews": 27
            },
            {
              "text": "non veg",
              "reviews": 26
            },
            {
              "text": "bangalore",
              "reviews": 318
            },
            {
              "text": "ada",
              "reviews": 22
            },
            {
              "text": "meen",
              "reviews": 25
            },
            {
              "text": "malabar",
              "reviews": 48
            }
          ],
          "photos": [
            "https://media-cdn.tripadvisor.com/media/photo-o/1b/2d/2f/94/karavalli-garden.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/03/d9/62/ce/karavalli.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/1c/bf/70/f9/ac-section.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/1b/2d/2f/77/karavalli-courtyard.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/03/d9/63/30/karavalli.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/34/de/bd/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/34/de/be/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/34/de/bf/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/34/de/c0/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/34/de/c1/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/bf/44/e1/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/bf/44/e0/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/bf/44/df/caption.jpg"
          ],
          "travelerChoiceAward": null,
          "cuisines": [
            "Indian",
            "Seafood"
          ],
          "dietaryRestrictions": [
            "Vegetarian friendly",
            "Vegan options",
            "Gluten free options"
          ],
          "establishmentTypes": [
            "Restaurants"
          ],
          "features": [
            "Reservations",
            "Outdoor Seating",
            "Seating",
            "Parking Available",
            "Validated Parking",
            "Valet Parking",
            "Highchairs Available",
            "Wheelchair Accessible",
            "Serves Alcohol",
            "Full Bar",
            "Accepts Credit Cards",
            "Table Service"
          ],
          "mealTypes": [
            "Lunch",
            "Dinner",
            "Late Night",
            "Drinks"
          ],
          "isClaimedIcon": false,
          "isClaimedText": null,
          "orderOnline": [],
          "input": "Bengaluru"
        }
      },
      {
        "json": {
          "reviewTags": [
            {
              "text": "brunch",
              "reviews": 41
            },
            {
              "text": "tres leches",
              "reviews": 18
            },
            {
              "text": "nachos",
              "reviews": 37
            },
            {
              "text": "pizza",
              "reviews": 50
            },
            {
              "text": "chicken",
              "reviews": 20
            },
            {
              "text": "karari roti",
              "reviews": 17
            },
            {
              "text": "popcorn prawns",
              "reviews": 17
            },
            {
              "text": "brewed beer",
              "reviews": 26
            },
            {
              "text": "great ambience",
              "reviews": 55
            },
            {
              "text": "must visit place",
              "reviews": 43
            },
            {
              "text": "awesome place",
              "reviews": 24
            },
            {
              "text": "special thanks",
              "reviews": 24
            },
            {
              "text": "amazing food",
              "reviews": 31
            },
            {
              "text": "service",
              "reviews": 588
            },
            {
              "text": "samuel",
              "reviews": 34
            },
            {
              "text": "mr",
              "reviews": 113
            },
            {
              "text": "brewery",
              "reviews": 50
            },
            {
              "text": "hospitality",
              "reviews": 62
            },
            {
              "text": "bangalore",
              "reviews": 78
            },
            {
              "text": "cheers",
              "reviews": 20
            },
            {
              "text": "mocktails",
              "reviews": 24
            },
            {
              "text": "team",
              "reviews": 28
            },
            {
              "text": "crowd",
              "reviews": 16
            }
          ],
          "id": "14766986",
          "type": "RESTAURANT",
          "category": "restaurant",
          "subcategories": [],
          "name": "Byg Brewski Brewing Company",
          "locationString": "Bengaluru, Bangalore District, Karnataka",
          "description": "Byg Brewski Brewing Company, Asia's largest premium brewpub, offers five experience zones, array of home-made craft Beers and a eclectic cuisine with combines both International and Local cuisines to suit every palate. Large open outdoor, adorned with lush greenery, water body combining nature's five elements namely earth, water, fire, metal, making this an opulent experience. Live music, no mobile zone, table games and many activities to participate in.",
          "image": "https://media-cdn.tripadvisor.com/media/photo-m/1280/18/85/13/70/byg-brewski-brewing-company.jpg",
          "photoCount": 745,
          "rankingPosition": 10,
          "rating": 4.9,
          "rawRanking": 4.849773406982422,
          "phone": "+91 80 4680 9351",
          "address": "SOUTHERN ASIA BIBLE COLLEGE, 22, Hennur Bagalur Main Rd, Bengaluru 560077 India",
          "addressObj": {
            "street1": "SOUTHERN ASIA BIBLE COLLEGE, 22, Hennur Bagalur Main Rd",
            "street2": null,
            "city": "Bengaluru",
            "state": "Karnataka",
            "country": "India",
            "postalcode": "560077"
          },
          "localName": "Byg Brewski Brewing Company",
          "localAddress": "SOUTHERN ASIA BIBLE COLLEGE, 22, Hennur Bagalur Main Rd, 560077",
          "localLangCode": "en-IN",
          "email": "agm.hnr@bygbrewski.com",
          "latitude": 13.07083,
          "longitude": 77.65186,
          "webUrl": "https://www.tripadvisor.com/Restaurant_Review-g297628-d14766986-Reviews-Byg_Brewski_Brewing_Company-Bengaluru_Bangalore_District_Karnataka.html",
          "website": "https://www.bygbrewski.com",
          "rankingString": "#10 of 10,588 places to eat in Bengaluru",
          "rankingDenominator": "4152",
          "rankingSource": "API",
          "neighborhoodLocations": [],
          "nearestMetroStations": [],
          "ancestorLocations": [
            {
              "id": "297628",
              "name": "Bengaluru",
              "abbreviation": null,
              "subcategory": "City"
            },
            {
              "id": "12392950",
              "name": "Bangalore District",
              "abbreviation": null,
              "subcategory": "District"
            },
            {
              "id": "297627",
              "name": "Karnataka",
              "abbreviation": null,
              "subcategory": "State"
            },
            {
              "id": "293860",
              "name": "India",
              "abbreviation": null,
              "subcategory": "Country"
            }
          ],
          "ratingHistogram": {
            "count1": 7,
            "count2": 4,
            "count3": 13,
            "count4": 83,
            "count5": 1501
          },
          "numberOfReviews": 1608,
          "isClosed": false,
          "isLongClosed": false,
          "openNowText": "Open Now",
          "priceLevel": "$$$$",
          "dishes": [
            "Pasta",
            "Doner Kebab",
            "Tapas",
            "Nachos",
            "Tres Leches",
            "Mixed Kebabs",
            "Pesto",
            "Fish",
            "Pork",
            "Chicken dishes",
            "Mixed Platter",
            "Finger Food",
            "Fresh Pasta",
            "Desserts",
            "Cake"
          ],
          "hours": {
            "weekRanges": [
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ]
            ],
            "timezone": "Asia/Kolkata"
          },
          "menuWebUrl": "http://www.tripadvisor.com/MobileRestaurantMenu-g297628-d14766986-Byg_Brewski_Brewing_Company-Bengaluru_Bangalore_District_Karnataka.html",
          "ownersTopReasons": null,
          "isNearbyResult": false,
          "photos": [
            "https://media-cdn.tripadvisor.com/media/photo-o/18/85/13/70/byg-brewski-brewing-company.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/18/85/0f/06/byg-brewski-brewing-company.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/18/85/0e/8c/syn-bar-terrace.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/18/85/15/1e/byg-brewski-brewing-company.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/18/85/15/08/array-of-grills.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/59/d5/04/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/25/32/ac/60/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/25/32/ac/5f/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/25/32/ac/5e/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/25/32/ac/5c/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/25/32/ac/5b/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/25/32/ac/5a/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/25/32/ac/59/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/26/e2/1b/a9/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/26/e2/1b/a8/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/26/e2/1b/a7/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/24/91/85/91/byg-brewski-brewing-company.jpg"
          ],
          "travelerChoiceAward": null,
          "cuisines": [
            "Mexican",
            "American",
            "Indian",
            "Brew Pub",
            "Bar",
            "International",
            "Asian",
            "Pub"
          ],
          "dietaryRestrictions": [
            "Vegetarian friendly",
            "Vegan options",
            "Gluten free options"
          ],
          "establishmentTypes": [
            "Restaurants"
          ],
          "features": [
            "Delivery",
            "Takeout",
            "Reservations",
            "Seating",
            "Validated Parking",
            "Serves Alcohol",
            "Full Bar",
            "Table Service",
            "Live Music"
          ],
          "mealTypes": [
            "Lunch",
            "Dinner",
            "Drinks"
          ],
          "isClaimedIcon": false,
          "isClaimedText": null,
          "orderOnline": [],
          "input": "Bengaluru"
        }
      },
      {
        "json": {
          "reviewTags": [
            {
              "text": "sticky toffee pudding",
              "reviews": 2
            },
            {
              "text": "pizza",
              "reviews": 14
            },
            {
              "text": "lamb chops",
              "reviews": 2
            },
            {
              "text": "prawns",
              "reviews": 2
            },
            {
              "text": "salad",
              "reviews": 2
            },
            {
              "text": "service staff are",
              "reviews": 2
            },
            {
              "text": "small plates",
              "reviews": 2
            },
            {
              "text": "signature cocktails",
              "reviews": 2
            },
            {
              "text": "wonderful dinner",
              "reviews": 2
            },
            {
              "text": "amazing hospitality",
              "reviews": 3
            },
            {
              "text": "delicious food",
              "reviews": 8
            },
            {
              "text": "great ambience",
              "reviews": 8
            },
            {
              "text": "special thanks",
              "reviews": 6
            },
            {
              "text": "pool side",
              "reviews": 3
            },
            {
              "text": "special mention",
              "reviews": 4
            },
            {
              "text": "awesome place",
              "reviews": 3
            },
            {
              "text": "visit this place",
              "reviews": 3
            },
            {
              "text": "amit",
              "reviews": 28
            },
            {
              "text": "novotel",
              "reviews": 10
            },
            {
              "text": "team",
              "reviews": 19
            },
            {
              "text": "terrian",
              "reviews": 2
            },
            {
              "text": "accor",
              "reviews": 2
            },
            {
              "text": "durga",
              "reviews": 2
            },
            {
              "text": "abt",
              "reviews": 2
            },
            {
              "text": "bellandur",
              "reviews": 2
            },
            {
              "text": "poolside",
              "reviews": 2
            },
            {
              "text": "sesame",
              "reviews": 2
            },
            {
              "text": "cheers",
              "reviews": 4
            },
            {
              "text": "mocktails",
              "reviews": 4
            },
            {
              "text": "hangout",
              "reviews": 5
            }
          ],
          "id": "2355493",
          "type": "RESTAURANT",
          "category": "restaurant",
          "subcategories": [
            "Sit down"
          ],
          "name": "Blue Terrain",
          "locationString": "Bengaluru, Bangalore District, Karnataka",
          "description": "Blue Terrain is an evening outdoor dining restaurant and bar that offers customers a mix of classic and contemporary dining experiences along the poolside under the star-lit sky. Blue Terrain is known for hosting corporate gatherings in the Outer Ring Road area, in addition to being the ideal destination for couples and casual diners. The outlet has a one-of-a-kind menu for consumers, offering a variety of Fondues, Flambes, Sharing Plates, one-pot wonders, and other dishes to enhance the user experience. Blue Terrain has it all covered, from intimate proposals to social celebrations, with a variety of unique dining options and setups",
          "image": "https://media-cdn.tripadvisor.com/media/photo-m/1280/22/08/f7/68/blue-terrain.jpg",
          "photoCount": 189,
          "rankingPosition": 7,
          "rating": 4.9,
          "rawRanking": 4.86522912979126,
          "phone": "+91 95388 12348",
          "address": "Outer Ring Road Rooftop, Novotel Bengaluru Outer Ring Road, Opp. RMZ Ecospace Business Park, Bengaluru 560103 India",
          "addressObj": {
            "street1": "Outer Ring Road",
            "street2": "Rooftop, Novotel Bengaluru Outer Ring Road, Opp. RMZ Ecospace Business Park",
            "city": "Bengaluru",
            "state": "Karnataka",
            "country": "India",
            "postalcode": "560103"
          },
          "localName": "Blue Terrain",
          "localAddress": "Outer Ring Road, Rooftop, Novotel Bengaluru Outer Ring Road, Opp. RMZ Ecospace Business Park, 560103",
          "localLangCode": "en-IN",
          "email": "h6453-fb1@accor.com",
          "latitude": 12.929868,
          "longitude": 77.68337,
          "webUrl": "https://www.tripadvisor.com/Restaurant_Review-g297628-d2355493-Reviews-Blue_Terrain-Bengaluru_Bangalore_District_Karnataka.html",
          "website": "http://all.accor.com/hotel/6453/index.en.shtml",
          "rankingString": "#7 of 10,588 places to eat in Bengaluru",
          "rankingDenominator": "4152",
          "rankingSource": "API",
          "neighborhoodLocations": [],
          "nearestMetroStations": [],
          "ancestorLocations": [
            {
              "id": "297628",
              "name": "Bengaluru",
              "abbreviation": null,
              "subcategory": "City"
            },
            {
              "id": "12392950",
              "name": "Bangalore District",
              "abbreviation": null,
              "subcategory": "District"
            },
            {
              "id": "297627",
              "name": "Karnataka",
              "abbreviation": null,
              "subcategory": "State"
            },
            {
              "id": "293860",
              "name": "India",
              "abbreviation": null,
              "subcategory": "Country"
            }
          ],
          "ratingHistogram": {
            "count1": 1,
            "count2": 1,
            "count3": 7,
            "count4": 30,
            "count5": 333
          },
          "numberOfReviews": 372,
          "isClosed": false,
          "isLongClosed": false,
          "openNowText": "Open Now",
          "priceLevel": "$$$$",
          "dishes": [
            "Lamb chops",
            "Steak Frites",
            "Prawns",
            "Lamb",
            "Chicken dishes",
            "Soup",
            "Desserts",
            "Jumbo Shrimp",
            "Cake",
            "Rack of Lamb"
          ],
          "hours": {
            "weekRanges": [
              [
                {
                  "open": 1080,
                  "openHours": "18:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ],
              [
                {
                  "open": 1080,
                  "openHours": "18:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ],
              [
                {
                  "open": 1080,
                  "openHours": "18:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ],
              [
                {
                  "open": 1080,
                  "openHours": "18:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ],
              [
                {
                  "open": 1080,
                  "openHours": "18:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ],
              [
                {
                  "open": 1080,
                  "openHours": "18:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ],
              [
                {
                  "open": 1080,
                  "openHours": "18:00",
                  "close": 1500,
                  "closeHours": "01:00"
                }
              ]
            ],
            "timezone": "Asia/Kolkata"
          },
          "menuWebUrl": "https://drive.google.com/drive/folders/1mnSkGTZ0DocB-xL3MgWVkWo3ww-Jor7g?usp=share_link",
          "ownersTopReasons": null,
          "isNearbyResult": false,
          "photos": [
            "https://media-cdn.tripadvisor.com/media/photo-o/22/08/f7/68/blue-terrain.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/28/b0/73/bd/intimate-couple-dining.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/28/b0/73/a6/five-spiced-chicken-soba.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/28/b0/73/79/refreshing-cocktails.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/28/b0/73/6c/sesame-crusted-ginger.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/28/e7/5d/bc/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/28/e7/5d/bd/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/29/55/e4/49/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/f0/a0/d9/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/f0/a0/da/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/f0/a0/db/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/f0/a0/dc/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/f0/a0/dd/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/f0/a0/de/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/f0/a0/df/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/f0/a0/e0/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/f0/a0/e1/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/ee/d9/67/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2d/02/68/25/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2d/02/68/62/caption.jpg"
          ],
          "travelerChoiceAward": null,
          "cuisines": [
            "Indian",
            "Bar",
            "Mediterranean",
            "Barbecue",
            "Dining bars"
          ],
          "dietaryRestrictions": [
            "Vegetarian friendly",
            "Vegan options",
            "Gluten free options"
          ],
          "establishmentTypes": [
            "Restaurants"
          ],
          "features": [
            "Reservations",
            "Outdoor Seating",
            "Seating",
            "Parking Available",
            "Validated Parking",
            "Valet Parking",
            "Serves Alcohol",
            "Full Bar",
            "Digital Payments",
            "Free Wifi",
            "Accepts Credit Cards",
            "Table Service",
            "Family style"
          ],
          "mealTypes": [
            "Dinner",
            "Drinks"
          ],
          "isClaimedIcon": false,
          "isClaimedText": null,
          "orderOnline": [],
          "input": "Bengaluru"
        }
      },
      {
        "json": {
          "reviewTags": [
            {
              "text": "brunch",
              "reviews": 2
            },
            {
              "text": "special thanks",
              "reviews": 4
            },
            {
              "text": "food was great",
              "reviews": 2
            },
            {
              "text": "sagar",
              "reviews": 3
            },
            {
              "text": "hospitality",
              "reviews": 2
            },
            {
              "text": "buffet",
              "reviews": 3
            },
            {
              "text": "order",
              "reviews": 2
            },
            {
              "text": "bangalore",
              "reviews": 2
            },
            {
              "text": "ambience",
              "reviews": 2
            }
          ],
          "id": "24187506",
          "type": "RESTAURANT",
          "category": "restaurant",
          "subcategories": [
            "Sit down"
          ],
          "name": "Neo Kitchen",
          "locationString": "Bengaluru, Bangalore District, Karnataka",
          "description": "Neo Kitchen is located at Hilton Bengaluru Embassy Manyata Business Park and is a contemporary food theater that elevates your culinary experience with its world on your platter concept. This all-day dining restaurant brings together cuisines from Indonesia, Vietnam, Singapore, and India, with signature meat offerings prepared a la minute in the Josper oven by creative chefs. Featuring culinary islands and private and semi-private seating enclaves, Neo Kitchen combines theatrical cooking with elegant dining. Guests can enjoy live cooking stations for breakfast, indulgent Saturday lunch buffets, or luxurious dinner experiences. From business breakfasts to relaxed weekend buffets, each meal is thoughtfully crafted to delight every palate, making Neo Kitchen a top choice for locals, hotel guests, and travelers seeking premium dining in North Bengaluru.",
          "image": "https://media-cdn.tripadvisor.com/media/photo-m/1280/2e/bd/5a/5c/neo-kitchen-is-a-vibrant.jpg",
          "photoCount": 48,
          "rankingPosition": 6,
          "rating": 4.9,
          "rawRanking": 4.868257999420166,
          "phone": "+91 80 6901 2345",
          "address": "Outer Ring Road Nagawara Bengaluru Hilton Bengaluru Embassy Manyata Business Park, Bengaluru 560045 India",
          "addressObj": {
            "street1": "Outer Ring Road Nagawara Bengaluru",
            "street2": "Hilton Bengaluru Embassy Manyata Business Park",
            "city": "Bengaluru",
            "state": "Karnataka",
            "country": "India",
            "postalcode": "560045"
          },
          "localName": "Neo Kitchen",
          "localAddress": "Outer Ring Road Nagawara Bengaluru, Hilton Bengaluru Embassy Manyata Business Park, 560045",
          "localLangCode": "en-IN",
          "email": "saikat.saha@hilton.com",
          "latitude": 13.039997,
          "longitude": 77.62437,
          "webUrl": "https://www.tripadvisor.com/Restaurant_Review-g297628-d24187506-Reviews-Neo_Kitchen-Bengaluru_Bangalore_District_Karnataka.html",
          "website": "https://hiltonsatmanyatabengaluru.com/restaurants-bars/neo-kitchen/",
          "rankingString": "#6 of 10,588 places to eat in Bengaluru",
          "rankingDenominator": "4152",
          "rankingSource": "API",
          "neighborhoodLocations": [],
          "nearestMetroStations": [],
          "ancestorLocations": [
            {
              "id": "297628",
              "name": "Bengaluru",
              "abbreviation": null,
              "subcategory": "City"
            },
            {
              "id": "12392950",
              "name": "Bangalore District",
              "abbreviation": null,
              "subcategory": "District"
            },
            {
              "id": "297627",
              "name": "Karnataka",
              "abbreviation": null,
              "subcategory": "State"
            },
            {
              "id": "293860",
              "name": "India",
              "abbreviation": null,
              "subcategory": "Country"
            }
          ],
          "ratingHistogram": {
            "count1": 0,
            "count2": 0,
            "count3": 0,
            "count4": 11,
            "count5": 165
          },
          "numberOfReviews": 176,
          "isClosed": false,
          "isLongClosed": false,
          "openNowText": "Open Now",
          "priceLevel": "$$$$",
          "dishes": [
            "Sushi Rolls",
            "Desserts",
            "Cake"
          ],
          "hours": {
            "weekRanges": [
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ],
              [
                {
                  "open": 0,
                  "openHours": "00:00",
                  "close": 1439,
                  "closeHours": "23:59"
                }
              ]
            ],
            "timezone": "Asia/Kolkata"
          },
          "menuWebUrl": "http://www.tripadvisor.com/MobileRestaurantMenu-g297628-d24187506-Neo_Kitchen-Bengaluru_Bangalore_District_Karnataka.html",
          "ownersTopReasons": null,
          "isNearbyResult": false,
          "photos": [
            "https://media-cdn.tripadvisor.com/media/photo-o/2e/bd/5a/5c/neo-kitchen-is-a-vibrant.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/30/97/da/6a/neo-kitchen.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/30/97/da/69/neo-kitchen.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/30/97/da/68/neo-kitchen.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/30/97/da/67/neo-kitchen.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/72/f1/ae/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/72/f1/af/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/72/f1/b0/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/47/f9/38/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/30/2e/fc/96/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/30/2e/fc/95/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/30/2e/fc/94/caption.jpg"
          ],
          "travelerChoiceAward": null,
          "cuisines": [
            "Italian",
            "Indian",
            "International",
            "Asian",
            "Grill"
          ],
          "dietaryRestrictions": [
            "Vegetarian friendly",
            "Vegan options"
          ],
          "establishmentTypes": [
            "Restaurants"
          ],
          "features": [
            "Takeout",
            "Reservations",
            "Outdoor Seating",
            "Buffet",
            "Private Dining",
            "Seating",
            "Parking Available",
            "Validated Parking",
            "Valet Parking",
            "Highchairs Available",
            "Serves Alcohol",
            "Full Bar",
            "Wine and Beer",
            "American Express",
            "Mastercard",
            "Visa",
            "Discover",
            "Table Service",
            "Live Music",
            "Family style"
          ],
          "mealTypes": [
            "Breakfast",
            "Lunch",
            "Dinner",
            "Brunch",
            "Late Night",
            "Drinks"
          ],
          "isClaimedIcon": false,
          "isClaimedText": null,
          "orderOnline": [],
          "input": "Bengaluru"
        }
      },
      {
        "json": {
          "reviewTags": [],
          "id": "26559384",
          "type": "RESTAURANT",
          "category": "restaurant",
          "subcategories": [],
          "name": "Loya",
          "locationString": "Bengaluru, Bangalore District, Karnataka",
          "description": "LOYA is a grand feast, which leads you on an immersive journey across the vivid north. From the foothills of the Himalayas to the flat terrain of Punjab, to snow-laden Kashmir, Loya is a confluence of flavour, passion and influence, all culminating exquisitely on your plate. Our search for the authentic and the long-preserved dishes resulted in a gathering of the North’s most cherished recipes. They spotlight the inherent uniqueness and theatrics of time-honoured cooking techniques of the North - the drama of “dhungar” or smoking, the aromatics of “baghar”, in which spices are tempered in hot oil, “dum”, the richness of slow-cooking and the energetic pounding of spices by hand. Loya offers the warmth and comfort of the past intersecting with the energy of today. A place where timeless techniques, undiscovered culinary traditions and heirloom ingredients are proudly showcased. Loya welcomes guests above the age of 08 years only.",
          "image": "https://media-cdn.tripadvisor.com/media/photo-m/1280/2a/72/84/08/loya-at-taj-west-end.jpg",
          "photoCount": 343,
          "rankingPosition": 2,
          "rating": 5,
          "rawRanking": 4.915696144104004,
          "phone": "+91 80666 05660",
          "address": "Race Course Road Taj West End, High Grounds, Bengaluru 560001 India",
          "addressObj": {
            "street1": "Race Course Road",
            "street2": "Taj West End, High Grounds",
            "city": "Bengaluru",
            "state": "Karnataka",
            "country": "India",
            "postalcode": "560001"
          },
          "localName": "Loya",
          "localAddress": "Race Course Road, Taj West End, High Grounds, 560001",
          "localLangCode": "en-IN",
          "email": "tweloya.bang@tajhotels.com",
          "latitude": 12.984504,
          "longitude": 77.58465,
          "webUrl": "https://www.tripadvisor.com/Restaurant_Review-g297628-d26559384-Reviews-Loya-Bengaluru_Bangalore_District_Karnataka.html",
          "website": "https://www.tajhotels.com/en-in/hotels/taj-west-end-bengaluru/restaurants/loya-taj-west-end?utm_source=Google&utm_campaign=LoyaTWE&utm_medium=Local",
          "rankingString": "#2 of 10,588 places to eat in Bengaluru",
          "rankingDenominator": "4152",
          "rankingSource": "API",
          "neighborhoodLocations": [],
          "nearestMetroStations": [
            {
              "name": "Central College",
              "localName": "Central College",
              "address": "Palace Road, Bengaluru 560009, India",
              "localAddress": "Palace Road, 560009",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.974810600280762,
              "longitude": 77.58273315429688,
              "distance": 0.6827892898950976
            },
            {
              "name": "Sir M Visveshwarya",
              "localName": "Sir M Visveshwarya",
              "address": "Post Office Road, Bengaluru 560009, India",
              "localAddress": "Post Office Road, 560009",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.974120140075684,
              "longitude": 77.58399200439453,
              "distance": 0.7195976608280223
            },
            {
              "name": "Cubbon Park",
              "localName": "Cubbon Park",
              "address": "Kasturba Road, Bengaluru 560001, India",
              "localAddress": "Kasturba Road, 560001",
              "lines": [
                {
                  "id": "bangalore-namma-metro-purple",
                  "lineName": "Purple",
                  "lineSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "systemName": "Namma Metro",
                  "systemSymbol": "https://static.tacdn.com/img/api/metro_stations/metro_placeholder.png",
                  "type": "Metro"
                }
              ],
              "latitude": 12.97555160522461,
              "longitude": 77.59098052978516,
              "distance": 0.7520728150357036
            }
          ],
          "ancestorLocations": [
            {
              "id": "297628",
              "name": "Bengaluru",
              "abbreviation": null,
              "subcategory": "City"
            },
            {
              "id": "12392950",
              "name": "Bangalore District",
              "abbreviation": null,
              "subcategory": "District"
            },
            {
              "id": "297627",
              "name": "Karnataka",
              "abbreviation": null,
              "subcategory": "State"
            },
            {
              "id": "293860",
              "name": "India",
              "abbreviation": null,
              "subcategory": "Country"
            }
          ],
          "ratingHistogram": {
            "count1": 1,
            "count2": 2,
            "count3": 3,
            "count4": 15,
            "count5": 646
          },
          "numberOfReviews": 667,
          "isClosed": false,
          "isLongClosed": false,
          "openNowText": "Open Now",
          "priceLevel": "$$$$",
          "dishes": [
            "Curry",
            "Chicken dishes",
            "Paneer",
            "Daal",
            "Desserts",
            "Chicken Biryani",
            "Mutton",
            "Biryani",
            "Cake",
            "Vegetable Curry"
          ],
          "hours": {
            "weekRanges": [
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1425,
                  "closeHours": "23:45"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1425,
                  "closeHours": "23:45"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1425,
                  "closeHours": "23:45"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1425,
                  "closeHours": "23:45"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1425,
                  "closeHours": "23:45"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1425,
                  "closeHours": "23:45"
                }
              ],
              [
                {
                  "open": 720,
                  "openHours": "12:00",
                  "close": 1425,
                  "closeHours": "23:45"
                }
              ]
            ],
            "timezone": "Asia/Kolkata"
          },
          "menuWebUrl": "http://www.tripadvisor.com/MobileRestaurantMenu-g297628-d26559384-Loya-Bengaluru_Bangalore_District_Karnataka.html",
          "ownersTopReasons": null,
          "isNearbyResult": false,
          "photos": [
            "https://media-cdn.tripadvisor.com/media/photo-o/2a/72/84/08/loya-at-taj-west-end.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/2a/72/83/81/loya-at-taj-west-end.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/2a/72/83/83/kulfi-pops.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/2a/72/83/82/loya-at-taj-west-end.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/2a/72/83/80/gud-ke-maan.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/a8/45/54/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/a8/45/55/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/bf/19/f3/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/bf/19/f4/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/19/f4/7e/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/19/f4/7d/capti_r.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/ea/ed/1c/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/ea/ed/1a/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/ea/ed/1e/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/ea/ed/18/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/90/1a/30/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/90/1a/2f/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/90/1a/2e/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/90/1a/2d/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/90/1a/2c/caption.jpg"
          ],
          "travelerChoiceAward": null,
          "cuisines": [
            "Indian"
          ],
          "dietaryRestrictions": [
            "Vegetarian friendly",
            "Vegan options",
            "Gluten free options"
          ],
          "establishmentTypes": [
            "Restaurants"
          ],
          "features": [
            "Reservations",
            "Outdoor Seating",
            "Seating",
            "Parking Available",
            "Validated Parking",
            "Valet Parking",
            "Wheelchair Accessible",
            "Serves Alcohol",
            "Full Bar",
            "Digital Payments",
            "Accepts Credit Cards",
            "Table Service"
          ],
          "mealTypes": [
            "Lunch",
            "Dinner"
          ],
          "isClaimedIcon": false,
          "isClaimedText": null,
          "orderOnline": [],
          "input": "Bengaluru"
        }
      },
      {
        "json": {
          "reviewTags": [
            {
              "text": "brunch",
              "reviews": 17
            },
            {
              "text": "salad",
              "reviews": 8
            },
            {
              "text": "curries",
              "reviews": 4
            },
            {
              "text": "cakes",
              "reviews": 4
            },
            {
              "text": "chaat",
              "reviews": 3
            },
            {
              "text": "ice cream",
              "reviews": 5
            },
            {
              "text": "bread",
              "reviews": 5
            },
            {
              "text": "rice",
              "reviews": 3
            },
            {
              "text": "electronic city",
              "reviews": 10
            },
            {
              "text": "buffet restaurant",
              "reviews": 4
            },
            {
              "text": "swimming pool",
              "reviews": 2
            },
            {
              "text": "special occasions",
              "reviews": 2
            },
            {
              "text": "special thanks",
              "reviews": 4
            },
            {
              "text": "nice restaurant",
              "reviews": 3
            },
            {
              "text": "fine dining",
              "reviews": 2
            },
            {
              "text": "food was amazing",
              "reviews": 2
            },
            {
              "text": "special mention",
              "reviews": 2
            },
            {
              "text": "courteous staff",
              "reviews": 2
            },
            {
              "text": "quick service",
              "reviews": 2
            },
            {
              "text": "great ambience",
              "reviews": 2
            },
            {
              "text": "spread",
              "reviews": 18
            },
            {
              "text": "ayub",
              "reviews": 2
            },
            {
              "text": "rubina",
              "reviews": 2
            },
            {
              "text": "team",
              "reviews": 8
            },
            {
              "text": "indian",
              "reviews": 8
            },
            {
              "text": "hospitality",
              "reviews": 6
            },
            {
              "text": "palate",
              "reviews": 3
            },
            {
              "text": "puri",
              "reviews": 2
            },
            {
              "text": "foodie",
              "reviews": 2
            },
            {
              "text": "mocktails",
              "reviews": 2
            }
          ],
          "id": "3524727",
          "type": "RESTAURANT",
          "category": "restaurant",
          "subcategories": [
            "Sit down"
          ],
          "name": "24@43 Coffee Shop",
          "locationString": "Bengaluru, Bangalore District, Karnataka",
          "description": "Enjoy all-day dining at 24@43 at The Oterra, Bengaluru, as this Internationally-inspired restaurant offers the perfect ambience for breakfast, lunch, dinner and Sunday brunch. Serving both Indian and western cuisines along with a variety of cocktails. It consists of an a-la-carte menu, scrumptious buffets, and an expansive Sunday brunch.",
          "image": "https://media-cdn.tripadvisor.com/media/photo-o/0e/ee/88/26/24-43.jpg",
          "photoCount": 181,
          "rankingPosition": 4,
          "rating": 4.8,
          "rawRanking": 4.876920700073242,
          "phone": "+91 96208 00500",
          "address": "43 Electronic City, Phase 1, Hosur Road The Oterra, Lobby Level, Bengaluru 560100 India",
          "addressObj": {
            "street1": "43 Electronic City, Phase 1, Hosur Road",
            "street2": "The Oterra, Lobby Level",
            "city": "Bengaluru",
            "state": "Karnataka",
            "country": "India",
            "postalcode": "560100"
          },
          "localName": "24@43 Coffee Shop",
          "localAddress": "43 Electronic City, Phase 1, Hosur Road, The Oterra, Lobby Level, 560100",
          "localLangCode": "en-IN",
          "email": "reservations@theoterra.com",
          "latitude": 12.850158,
          "longitude": 77.66027,
          "webUrl": "https://www.tripadvisor.com/Restaurant_Review-g297628-d3524727-Reviews-24_43_Coffee_Shop-Bengaluru_Bangalore_District_Karnataka.html",
          "website": "https://www.theoterra.com/dining/24-43",
          "rankingString": "#4 of 10,588 places to eat in Bengaluru",
          "rankingDenominator": "4152",
          "rankingSource": "API",
          "neighborhoodLocations": [],
          "nearestMetroStations": [],
          "ancestorLocations": [
            {
              "id": "297628",
              "name": "Bengaluru",
              "abbreviation": null,
              "subcategory": "City"
            },
            {
              "id": "12392950",
              "name": "Bangalore District",
              "abbreviation": null,
              "subcategory": "District"
            },
            {
              "id": "297627",
              "name": "Karnataka",
              "abbreviation": null,
              "subcategory": "State"
            },
            {
              "id": "293860",
              "name": "India",
              "abbreviation": null,
              "subcategory": "Country"
            }
          ],
          "ratingHistogram": {
            "count1": 1,
            "count2": 3,
            "count3": 17,
            "count4": 56,
            "count5": 385
          },
          "numberOfReviews": 460,
          "isClosed": false,
          "isLongClosed": false,
          "openNowText": "Open Now",
          "priceLevel": "$$$$",
          "dishes": [
            "Pasta",
            "Salad",
            "Curry",
            "Lamb",
            "Pesto",
            "Cakes",
            "Chicken dishes",
            "Rice dishes",
            "Breads and Pastries",
            "Soup",
            "Dosa",
            "Fresh Pasta",
            "Desserts",
            "Chicken Biryani",
            "Biryani",
            "Cake",
            "Vegetable Curry",
            "Pastries"
          ],
          "hours": {
            "weekRanges": [
              [
                {
                  "open": 390,
                  "openHours": "06:30",
                  "close": 1440,
                  "closeHours": "00:00"
                }
              ],
              [
                {
                  "open": 390,
                  "openHours": "06:30",
                  "close": 1440,
                  "closeHours": "00:00"
                }
              ],
              [
                {
                  "open": 390,
                  "openHours": "06:30",
                  "close": 1440,
                  "closeHours": "00:00"
                }
              ],
              [
                {
                  "open": 390,
                  "openHours": "06:30",
                  "close": 1440,
                  "closeHours": "00:00"
                }
              ],
              [
                {
                  "open": 390,
                  "openHours": "06:30",
                  "close": 1440,
                  "closeHours": "00:00"
                }
              ],
              [
                {
                  "open": 390,
                  "openHours": "06:30",
                  "close": 1440,
                  "closeHours": "00:00"
                }
              ],
              [
                {
                  "open": 390,
                  "openHours": "06:30",
                  "close": 1440,
                  "closeHours": "00:00"
                }
              ]
            ],
            "timezone": "Asia/Kolkata"
          },
          "menuWebUrl": "http://www.tripadvisor.com/MobileRestaurantMenu-g297628-d3524727-24_43_Coffee_Shop-Bengaluru_Bangalore_District_Karnataka.html",
          "ownersTopReasons": null,
          "isNearbyResult": false,
          "photos": [
            "https://media-cdn.tripadvisor.com/media/photo-o/0d/d3/d6/ac/p-20161206-091252-hdr.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/31/d2/66/50/caption.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/31/cf/37/26/caption.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/31/9e/25/5d/caption.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/0e/ee/88/26/24-43.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/31/80/03/76/caption.jpg",
            "https://media-cdn.tripadvisor.com/media/video-t/2f/4e/b8/fe/24-43-coffee-shop-1.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/30/4e/ed/7f/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/30/4e/ed/5d/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/e8/31/21/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/e8/31/20/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/e8/31/1f/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/e8/31/1e/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/e8/31/1d/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/e8/31/1c/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/e8/31/1b/caption.jpg"
          ],
          "travelerChoiceAward": null,
          "cuisines": [
            "Indian",
            "International"
          ],
          "dietaryRestrictions": [
            "Vegetarian friendly",
            "Vegan options",
            "Halal",
            "Gluten free options"
          ],
          "establishmentTypes": [
            "Restaurants"
          ],
          "features": [
            "Takeout",
            "Reservations",
            "Seating",
            "Parking Available",
            "Validated Parking",
            "Valet Parking",
            "Highchairs Available",
            "Wheelchair Accessible",
            "Serves Alcohol",
            "Full Bar",
            "Table Service"
          ],
          "mealTypes": [
            "Breakfast",
            "Lunch",
            "Dinner",
            "Brunch"
          ],
          "isClaimedIcon": false,
          "isClaimedText": null,
          "orderOnline": [],
          "input": "Bengaluru"
        }
      },
      {
        "json": {
          "id": "1389538",
          "type": "RESTAURANT",
          "category": "restaurant",
          "subcategories": [
            "Sit down"
          ],
          "name": "Time Traveller",
          "locationString": "Bengaluru, Bangalore District, Karnataka",
          "description": "Time Traveller offers an eclectic buffet & an a la carte menu with dishes from across the globe. The buffet for lunch & dinner features over 12 salads, soup selections, 18 main course dishes & over a dozen desserts. Some of the dishes featured in the menu span from Greece, Mexico, The Orient, Europe, Morocco… etc all. Our live counter is a must try!",
          "image": "https://media-cdn.tripadvisor.com/media/photo-o/14/96/fa/14/restaurant.jpg",
          "photoCount": 539,
          "rankingPosition": 1,
          "rating": 4.9,
          "rawRanking": 4.955207824707031,
          "phone": "+91 80 4040 0400",
          "address": "144 - C/1 Kirloskar Rd Ground Floor, Sai Vishram Business Hotel, Bengaluru 560099 India",
          "addressObj": {
            "street1": "144 - C/1 Kirloskar Rd",
            "street2": "Ground Floor, Sai Vishram Business Hotel",
            "city": "Bengaluru",
            "state": "Karnataka",
            "country": "India",
            "postalcode": "560099"
          },
          "localName": "Time Traveller",
          "localAddress": "144 - C/1 Kirloskar Rd, Ground Floor, Sai Vishram Business Hotel, 560099",
          "localLangCode": "en-IN",
          "email": null,
          "latitude": 12.824636,
          "longitude": 77.68114,
          "webUrl": "https://www.tripadvisor.com/Restaurant_Review-g297628-d1389538-Reviews-Time_Traveller-Bengaluru_Bangalore_District_Karnataka.html",
          "website": "https://www.instagram.com/timetravellersaivishram/?hl=e",
          "rankingString": "#1 of 10,588 places to eat in Bengaluru",
          "rankingDenominator": "4152",
          "rankingSource": "API",
          "neighborhoodLocations": [],
          "nearestMetroStations": [],
          "ancestorLocations": [
            {
              "id": "297628",
              "name": "Bengaluru",
              "abbreviation": null,
              "subcategory": "City"
            },
            {
              "id": "12392950",
              "name": "Bangalore District",
              "abbreviation": null,
              "subcategory": "District"
            },
            {
              "id": "297627",
              "name": "Karnataka",
              "abbreviation": null,
              "subcategory": "State"
            },
            {
              "id": "293860",
              "name": "India",
              "abbreviation": null,
              "subcategory": "Country"
            }
          ],
          "ratingHistogram": {
            "count1": 10,
            "count2": 8,
            "count3": 33,
            "count4": 163,
            "count5": 2496
          },
          "numberOfReviews": 2710,
          "isClosed": false,
          "isLongClosed": false,
          "openNowText": "Open Now",
          "priceLevel": "$$ - $$$",
          "dishes": [
            "Pasta",
            "Salad",
            "Pesto",
            "Sweets",
            "Dinner Buffet",
            "Soup",
            "Dosa",
            "Fresh Pasta",
            "Desserts",
            "Cake"
          ],
          "hours": {
            "weekRanges": [
              [
                {
                  "open": 420,
                  "openHours": "07:00",
                  "close": 1350,
                  "closeHours": "22:30"
                }
              ],
              [
                {
                  "open": 420,
                  "openHours": "07:00",
                  "close": 1350,
                  "closeHours": "22:30"
                }
              ],
              [
                {
                  "open": 420,
                  "openHours": "07:00",
                  "close": 1350,
                  "closeHours": "22:30"
                }
              ],
              [
                {
                  "open": 420,
                  "openHours": "07:00",
                  "close": 1350,
                  "closeHours": "22:30"
                }
              ],
              [
                {
                  "open": 420,
                  "openHours": "07:00",
                  "close": 1350,
                  "closeHours": "22:30"
                }
              ],
              [
                {
                  "open": 420,
                  "openHours": "07:00",
                  "close": 1350,
                  "closeHours": "22:30"
                }
              ],
              [
                {
                  "open": 420,
                  "openHours": "07:00",
                  "close": 1350,
                  "closeHours": "22:30"
                }
              ]
            ],
            "timezone": "Asia/Kolkata"
          },
          "menuWebUrl": null,
          "ownersTopReasons": null,
          "isNearbyResult": false,
          "reviewTags": [
            {
              "text": "salad",
              "reviews": 87
            },
            {
              "text": "dosa",
              "reviews": 49
            },
            {
              "text": "ice cream",
              "reviews": 26
            },
            {
              "text": "sai vishram",
              "reviews": 298
            },
            {
              "text": "restaurant manager",
              "reviews": 102
            },
            {
              "text": "vegetarian food",
              "reviews": 125
            },
            {
              "text": "electronic city",
              "reviews": 84
            },
            {
              "text": "excellent hospitality",
              "reviews": 64
            },
            {
              "text": "excellent vegetarian",
              "reviews": 27
            },
            {
              "text": "garden city",
              "reviews": 24
            },
            {
              "text": "pure veg",
              "reviews": 50
            },
            {
              "text": "welcome drink",
              "reviews": 42
            },
            {
              "text": "awesome food",
              "reviews": 59
            },
            {
              "text": "family lunch",
              "reviews": 21
            },
            {
              "text": "buffet spread",
              "reviews": 42
            },
            {
              "text": "mind blowing",
              "reviews": 28
            },
            {
              "text": "lunch buffet",
              "reviews": 37
            },
            {
              "text": "south indian",
              "reviews": 39
            },
            {
              "text": "live counter",
              "reviews": 24
            },
            {
              "text": "nice ambience",
              "reviews": 52
            },
            {
              "text": "visit this place",
              "reviews": 50
            },
            {
              "text": "courteous staff",
              "reviews": 24
            },
            {
              "text": "main course",
              "reviews": 65
            },
            {
              "text": "special thanks",
              "reviews": 24
            },
            {
              "text": "mouth watering",
              "reviews": 27
            },
            {
              "text": "quality of food",
              "reviews": 23
            },
            {
              "text": "bommasandra",
              "reviews": 41
            },
            {
              "text": "ecity",
              "reviews": 24
            },
            {
              "text": "team",
              "reviews": 157
            },
            {
              "text": "bangalore",
              "reviews": 259
            }
          ],
          "photos": [
            "https://media-cdn.tripadvisor.com/media/photo-o/14/96/fa/14/restaurant.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/02/d7/6e/a7/e-inn.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/13/c4/03/d2/paneer-biryani-served.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/13/a2/cf/82/mango-tart-served-at.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/13/21/e2/fc/baby-corn-in-hot-garlic.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/bb/f4/90/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/31/bb/f4/a5/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/7a/d3/d8/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/7a/d3/d9/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2f/7a/d3/da/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2d/ac/03/cf/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2d/ac/03/d0/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2d/ac/03/d1/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2d/ac/03/d2/caption.jpg"
          ],
          "travelerChoiceAward": null,
          "cuisines": [
            "Indian",
            "International",
            "Asian"
          ],
          "dietaryRestrictions": [
            "Vegetarian friendly",
            "Vegan options",
            "Gluten free options"
          ],
          "establishmentTypes": [
            "Restaurants"
          ],
          "features": [
            "Delivery",
            "Takeout",
            "Reservations",
            "Seating",
            "Parking Available",
            "Validated Parking",
            "Valet Parking",
            "Highchairs Available",
            "Wine and Beer",
            "Mastercard",
            "Visa",
            "Free Wifi",
            "Accepts Credit Cards",
            "Table Service"
          ],
          "mealTypes": [
            "Breakfast",
            "Lunch",
            "Dinner",
            "Brunch"
          ],
          "isClaimedIcon": false,
          "isClaimedText": null,
          "orderOnline": [],
          "input": "Bengaluru"
        }
      },
      {
        "json": {
          "reviewTags": [
            {
              "text": "tapas",
              "reviews": 6
            },
            {
              "text": "dosa",
              "reviews": 10
            },
            {
              "text": "cakes",
              "reviews": 4
            },
            {
              "text": "salad",
              "reviews": 5
            },
            {
              "text": "aloft hotel",
              "reviews": 22
            },
            {
              "text": "cessna business park",
              "reviews": 9
            },
            {
              "text": "house keeping",
              "reviews": 7
            },
            {
              "text": "chef santosh",
              "reviews": 7
            },
            {
              "text": "wonderful stay",
              "reviews": 6
            },
            {
              "text": "long stay",
              "reviews": 4
            },
            {
              "text": "special mention",
              "reviews": 15
            },
            {
              "text": "special thanks",
              "reviews": 15
            },
            {
              "text": "outer ring road",
              "reviews": 6
            },
            {
              "text": "great hospitality",
              "reviews": 7
            },
            {
              "text": "memorable experience",
              "reviews": 4
            },
            {
              "text": "great food and service",
              "reviews": 4
            },
            {
              "text": "dining experience",
              "reviews": 6
            },
            {
              "text": "food options",
              "reviews": 4
            },
            {
              "text": "service staff",
              "reviews": 4
            },
            {
              "text": "must visit place",
              "reviews": 4
            },
            {
              "text": "anjali",
              "reviews": 81
            },
            {
              "text": "tirumala",
              "reviews": 82
            },
            {
              "text": "mona",
              "reviews": 27
            },
            {
              "text": "team",
              "reviews": 39
            },
            {
              "text": "khushi",
              "reviews": 7
            },
            {
              "text": "alia",
              "reviews": 6
            },
            {
              "text": "samarth",
              "reviews": 5
            },
            {
              "text": "kushi",
              "reviews": 4
            },
            {
              "text": "buffet",
              "reviews": 30
            },
            {
              "text": "bangalore",
              "reviews": 32
            }
          ],
          "id": "6885333",
          "type": "RESTAURANT",
          "category": "restaurant",
          "subcategories": [],
          "name": "Nook",
          "locationString": "Bengaluru, Bangalore District, Karnataka",
          "description": "Sample worldly flavors at Nook, our all-day restaurant in Marathahalli-Sarjapur, with a menu including Continental, Chinese, Indian and other cuisines. Our dining spot serves tasty meals throughout the week and a special à la carte menu on weekends.",
          "image": "https://media-cdn.tripadvisor.com/media/photo-w/0e/b0/fe/6b/aloft-rohit-dassani.jpg",
          "photoCount": 385,
          "rankingPosition": 3,
          "rating": 4.9,
          "rawRanking": 4.880972385406494,
          "phone": "+91 88844 52271",
          "address": "Outer Ring Road Cessna Business Park, Bengaluru 560103 India",
          "addressObj": {
            "street1": "Outer Ring Road",
            "street2": "Cessna Business Park",
            "city": "Bengaluru",
            "state": "Karnataka",
            "country": "India",
            "postalcode": "560103"
          },
          "localName": "Nook",
          "localAddress": "Outer Ring Road, Cessna Business Park, 560103",
          "localLangCode": "en-IN",
          "email": null,
          "latitude": 12.937097,
          "longitude": 77.69514,
          "webUrl": "https://www.tripadvisor.com/Restaurant_Review-g297628-d6885333-Reviews-Nook-Bengaluru_Bangalore_District_Karnataka.html",
          "website": null,
          "rankingString": "#3 of 10,588 places to eat in Bengaluru",
          "rankingDenominator": "4152",
          "rankingSource": "API",
          "neighborhoodLocations": [],
          "nearestMetroStations": [],
          "ancestorLocations": [
            {
              "id": "297628",
              "name": "Bengaluru",
              "abbreviation": null,
              "subcategory": "City"
            },
            {
              "id": "12392950",
              "name": "Bangalore District",
              "abbreviation": null,
              "subcategory": "District"
            },
            {
              "id": "297627",
              "name": "Karnataka",
              "abbreviation": null,
              "subcategory": "State"
            },
            {
              "id": "293860",
              "name": "India",
              "abbreviation": null,
              "subcategory": "Country"
            }
          ],
          "ratingHistogram": {
            "count1": 4,
            "count2": 2,
            "count3": 3,
            "count4": 29,
            "count5": 556
          },
          "numberOfReviews": 594,
          "isClosed": false,
          "isLongClosed": false,
          "openNowText": "Open Now",
          "priceLevel": "$$$$",
          "dishes": [
            "Omelette",
            "Tapas",
            "Salad",
            "Cakes",
            "Fish",
            "Chicken dishes",
            "Breads and Pastries",
            "Soup",
            "Dosa",
            "Naan",
            "Mixed Platter",
            "Finger Food",
            "Desserts",
            "Garlic Naan",
            "Cake",
            "Sandesh"
          ],
          "hours": {
            "weekRanges": [
              [
                {
                  "open": 420,
                  "openHours": "07:00",
                  "close": 1350,
                  "closeHours": "22:30"
                }
              ],
              [
                {
                  "open": 420,
                  "openHours": "07:00",
                  "close": 1350,
                  "closeHours": "22:30"
                }
              ],
              [
                {
                  "open": 420,
                  "openHours": "07:00",
                  "close": 1350,
                  "closeHours": "22:30"
                }
              ],
              [
                {
                  "open": 420,
                  "openHours": "07:00",
                  "close": 1350,
                  "closeHours": "22:30"
                }
              ],
              [
                {
                  "open": 420,
                  "openHours": "07:00",
                  "close": 1350,
                  "closeHours": "22:30"
                }
              ],
              [
                {
                  "open": 420,
                  "openHours": "07:00",
                  "close": 1350,
                  "closeHours": "22:30"
                }
              ],
              [
                {
                  "open": 420,
                  "openHours": "07:00",
                  "close": 1350,
                  "closeHours": "22:30"
                }
              ]
            ],
            "timezone": "Asia/Kolkata"
          },
          "menuWebUrl": "https://bit.ly/AloftCessnaHomeDelivery",
          "ownersTopReasons": null,
          "isNearbyResult": false,
          "photos": [
            "https://media-cdn.tripadvisor.com/media/photo-o/30/72/aa/73/nook-restaurant.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/1c/f1/e6/59/bbq-chicken-wings.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/30/72/ad/a7/multicuisine-restaurant.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/1c/f1/e6/5c/vegetable-manchurian.jpg",
            "https://media-cdn.tripadvisor.com/media/photo-o/1c/f1/e6/52/junglee-maas.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/e9/4a/cf/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/e9/4a/d0/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/e9/4a/d1/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/e9/4a/d2/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/c9/04/60/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/c9/04/61/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/c9/04/62/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2a/12/54/69/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2a/b1/74/0d/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/29/8a/42/13/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/28/be/cc/05/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/28/be/cc/06/caption.jpg",
            "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/28/be/cc/07/caption.jpg"
          ],
          "travelerChoiceAward": null,
          "cuisines": [
            "Indian",
            "Asian"
          ],
          "dietaryRestrictions": [
            "Vegetarian friendly",
            "Vegan options",
            "Gluten free options"
          ],
          "establishmentTypes": [
            "Restaurants"
          ],
          "features": [
            "Reservations",
            "Seating",
            "Parking Available",
            "Validated Parking",
            "Valet Parking",
            "Highchairs Available",
            "Wheelchair Accessible",
            "Serves Alcohol",
            "Full Bar",
            "Free Wifi",
            "Accepts Credit Cards",
            "Table Service",
            "Live Music"
          ],
          "mealTypes": [
            "Breakfast",
            "Lunch",
            "Dinner",
            "Brunch",
            "Drinks"
          ],
          "isClaimedIcon": false,
          "isClaimedText": null,
          "orderOnline": [],
          "input": "Bengaluru"
        }
      }
    ]
  },
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "TripAdvisor Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TripAdvisor Scraper": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "df55bde3-7520-4fc5-b3d7-5d89e2dd204b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d85661857dfcd1207ce11ef23fab2db3d27371fb05cc9bce02662a3f60039047"
  },
  "id": "1L8I5UYu928Rv9wi",
  "tags": []
}